<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>headitem}}

    <title>About : Tempreture Website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img style="height: 35em;" src="img/404.png" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>{{errormsg}} </h1>
                        <a href="/"><button>Home page</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    {{>bootscript}}


</body>

</html>